{% extends "base.html" %}

{% block body %}
      <div class="row" style="margin-top: 10px;"">
      <div class="col-md-4">
      <div style="margin-top:10%;">
      <a href="{% url 'list' %} "><img src="{{ photo.image.url }}" class="card-img-top" alt="{{photo.image.public_id}}"></a>
      </div>
      </div>
            <div class="col-md-8" style="margin-top: 10px;">
            <ul class="list-group list-group-flush">
            {% if text %}
            {% for each in text %}
                  <li class="list-group-item"><h6>{{ each.class|title }}</h6> <p>{{ each.score }}</p></li>
            {% endfor %}
            {% elif error%}
                  <p class="lead" style="text-align: center;">Sorry but something went wrong </p>
            {% endif %}
            <a class="btn btn-danger" style="margin-bottom: 10px;" href="{% url 'photo_delete_detect' public_id=photo.image.public_id %}">Delete</a>
            </ul>
            </div>
            </div>
{% endblock body %}
