{% extends "base.html" %}
{% load cloudinary %}

{% block body %}
  <h1>Welcome! {{ user }}</h1>

  <h1>Your Images</h1>
  <div class="photos">
    <p>
      <a class="upload_link" href="{% url 'upload' %}">Upload Images...</a>
    </p>
    {% if not photos.exists %}
      <p>No images were uploaded yet.</p>
    {% endif %}
    {% for photo in photos %}
      <div class="photo">
          <a href="{{ photo.image.url }}" target="_blank" class="public_id_link" style="width:100px;height:100px;">
            <div class='public_id'>{{ photo.image.public_id }} - {{ photo.title }}</div>
            {# Renders an IMG tag for a CloudinaryImage objects. #}
            {# THUMBNAIL defined in context_processors #}
            {% cloudinary photo.image THUMBNAIL %}
          </a>
        
    {% endfor %}
  </div>
{% endblock %}
{% block javascript %}
  $(function () {
    $('.toggle_info').click(function () {
      $(this).closest('.photo').toggleClass('show_more_info');
      return false;
    });
  });
{% endblock %}
