{% extends "base.html" %}
{% load cloudinary %}

{% block body %}
  <div class="container-fluid">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome {{user}}.</h1>
  
  <div class="photos">
    {% if not photos.exists %}
      <h1 class="display-4">No images were uploaded yet. .</h1>
      <p class ="lead"><p>Find yourself blaming your memory again? Relax! We can't fix your neurons but we do know where that other sock is hiding.</p></p>
        {% else %}
          <h1 class="display-4">Here are your images.</h1>
    {% endif %}
  </div>
    
    {% for photo in photos %}
      <div class="row" style="margin-left: 10px;">
      <div class="card" style="width: 18rem;">
      <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Identified Objects</h5>
      <p class="card-text">{{photo.watson_response}}</p>
      </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block javascript %}
{% endblock %}
