{% extends "base.html" %}
{% load cloudinary %}

{% block body %}
  <div class="container-fluid">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome {{user|capfirst}}.</h1>
  
  <div class="photos">
    {% if not photos.exists %}
      <h1 class="display-4">No images were uploaded yet. .</h1>
      <p class ="lead"><p>Find yourself blaming your memory again? Relax! We can't fix your neurons but we do know where that other sock is hiding.</p></p>
        {% else %}
          <h1 class="display-6">Here are your {{photos|length}} images.</h1>
    {% endif %}
  </div>
    
    {% for photo in photos %}
      <div class="row" style="float:left; width: 33%; margin-top: 10px;">
      <div class="col-lg-6" >
      <div class="card" style="width: 18rem;">
      <a href="/photo_detail/{{photo.image.public_id}}"><img src="{{ photo.image.url }}" class="card-img-top" alt="{{photo.image.public_id}}"></a>
      </div>
      </div>
      </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
{% endblock %}
