{% extends "base.html" %}
{% load cloudinary %}
{% load staticfiles %}

{% block body %}
  <!-- A standard form for sending the image data to your server -->
  <div id='backend_upload'>
     <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"> Upload through server. {{user|capfirst}}! </h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
      <label for="file">Select your file</label>
      {{ backend_form.image }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>    
    {% if posted %}
      <div class="results">
        {% if posted.errors %}
          Errors: {{ posted.errors }}
        {% else %}
          <div class="uploaded_info">
            <div class="data">
                <ul class="list-group">

                {% for key, value in posted.image.metadata.items %}
                   <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{key}}</h5>
                  </div>
                  <p class="mb-1">{{value}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>
            <div class="image list-group-item">
              {% cloudinary posted.image THUMBNAIL %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
</div>